@page "/loginControl"
@using AuthenticationExample.Authentication
@inject NavigationManager NavigationManager
@inject ILoginService LoginService

<AuthorizeView>
    <Authorized>
        <b>Hello, @context.User.Identity.Name!</b>
        <a class="ml-md-auto btn btn-primary" href="logout" target="_top">Log out</a>
        <button @onclick="LogOut"> Log Out</button>
    </Authorized>
    <NotAuthorized>
        <input type="text" placeholder="Email or Login" @bind="@Username" />
        <input type="password" placeholder="Password" @bind="@Password" />
        <input type="text" placeholder="Role" @bind="@Role" />
        <button @onclick="LoginAction">Log in</button>
    </NotAuthorized>
</AuthorizeView>

@code {

    string Username = "";
    string Password = "";
    string url = "";
    string Role = "";

    protected override void OnInitialized()
    {
        url = NavigationManager.Uri.ToString();
    }

    private async Task LoginAction()
    {
        await LoginService.Login(new UserInfo() { Name = Username, Password = Password, Role = Role });
    }

    private async Task LogOut()
    {
        await LoginService.LogOut();
    }
}